<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title *ngIf="!isSearchbarOpened">
      Artigos Da Loja.
    </ion-title>

    <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (search)="onSearch($event)" (ionCancel)="isSearchbarOpened=false">
    </ion-searchbar>

    <ion-buttons slot="end" class="customBtn">
      <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="viewpost" class="preço">





  <div>
    <ion-item (click)="goToFichaArtigo(artigo)" *ngFor="let artigo of artigos" style="margin: 2%">
      <ion-col>
        <img src="/assets/img/{{artigo.photo}}">
        <p> {{artigo.nome}} </p>
        <p>{{artigo.preco}}</p>
      </ion-col>
    </ion-item>
  </div>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="backToStart()">
    <ion-fab-button>
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <button (click)="backToStart()" ion-button text-only>Go to start</button>-->
</ion-content>