
	.viewpost {
		ion-grid {
			height: 100%;
			border: 10%;
		}
		.picture_preview {
			height: 60%;
		}
		.button_col {
			height: 40%;
		}

		ion-col {
			margin: 1%;
			height: 100%;
		}
		.center {
    		margin-left: auto;
    		margin-right: auto;
				display: block;
				border: 10%;
        }
        

		ion-img {
			object-fit: resize;
			width: auto !important;
			
			
			background-color: grey;
		}
	}

	.preço{
		p{
			text-align: center;
			color: gray;
			font-style: italic;
			font-weight: 50;
		}
	}

	.float-button{
		background-color: #303f9f;
		opacity: 0.9;
		color: white;
		border-radius: 50%;
		width: 30px;
		padding: 25px;
		font-size: 40px;
		background: red($color: red);
		position: fixed;
		bottom: 5%;
		right: 5%;
		z-index: 1000%;
	}

	.float-button .height_fix{
		margin-top: 100%;
		border: 1px solid red($color: red);
	}

	.float-button .content{
		position: absolute;
		left: 10%;
		top: 30%;
		height: 100%;
		width: 100;
		text-align: center;
		margin-top: -20%;
		color: white;
	}


	



