<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title *ngIf="!isSearchbarOpened">
      Artigos Da Loja
    </ion-title>

    <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (search)="onSearch($event)"  (ionCancel)="isSearchbarOpened=false">
    </ion-searchbar>

    <ion-buttons slot="end" class="customBtn" >
      <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
          <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="viewpost" class="preço">
  
  <!---<ion-searchbar showCancelButton cancelButtonText="Custom Cancel"></ion-searchbar>-->
  <ion-row>
    <ion-col col-6 no-padding style="margin: 2%">
      <a href="../ficha-artigo/">
        <img src="/assets/img/bolo.jpg">
      </a>

      <p>Bolo de chocolate</p>
      <p>Preço:10€</p>

    </ion-col>

    <ion-col col-6 no-padding style="margin: 2%">

      <a href=""><img src="/assets/img/mesa.jpg"></a>
      <p>Mesa de madeira</p>
      <p>Preço:10€</p>

    </ion-col>
  </ion-row>



  <ion-row>
    <ion-col col-6 no-padding style="margin: 2%">
      <a href="../tab1/">
        <img src="/assets/img/bolo.jpg">
      </a>

      <p>Bolo de chocolate</p>
      <p>Preço:10€</p>

    </ion-col>

    <ion-col col-6 no-padding style="margin: 2%">
      <a href=""><img src="/assets/img/mesa.jpg"></a>
      <p>Mesa de madeira</p>
      <p>Preço:10€</p>

    </ion-col>
  </ion-row>



  <ion-row>
    <ion-col col-6 no-padding style="margin: 2%">
      <a href="../tab1/">
        <img src="/assets/img/bolo.jpg">
      </a>

      <p>Bolo de chocolate</p>
      <p>Preço:10€</p>

    </ion-col>

    <ion-col col-6 no-padding style="margin: 2%">

      <a href=""><img src="/assets/img/mesa.jpg"></a>
      <p>Mesa de madeira</p>
      <p>Preço:10€</p>

    </ion-col>
  </ion-row>



  <ion-row>
    <ion-col col-6 no-padding style="margin: 2%">
      <a href="../tab1/">
        <img src="/assets/img/bolo.jpg">
      </a>

      <p>Bolo de chocolate</p>
      <p>Preço:10€</p>

    </ion-col>

    <ion-col col-6 no-padding style="margin: 2%">

      <a href=""><img src="/assets/img/mesa.jpg"></a>
      <p>Mesa de madeira</p>
      <p>Preço:10€</p>

    </ion-col>
  </ion-row>



  <ion-row>
    <ion-col col-6 no-padding style="margin: 2%">
      <a href="../tab1/">
        <img src="/assets/img/bolo.jpg">
      </a>

      <p>Bolo de chocolate</p>
      <p>Preço:10€</p>

    </ion-col>

    <ion-col col-6 no-padding style="margin: 2%">

      <a href=""><img src="/assets/img/mesa.jpg"></a>
      <p>Mesa de madeira</p>
      <p>Preço:10€</p>

    </ion-col>
  </ion-row>


</ion-content>