.imgArtigo {
    max-width: 100%;
    border: 0;
    margin-top: 70px;
    align-items: center;
    padding: 5%;
  }

  .titulo{
    h1{
        color:gray;
        text-align: center;
    }
  }



  .footer{
   
        text-align: center !important;
        
     }
    
.descArtigo{
    p{
        text-align: center;
        color:gray;
        font-size: 20px; 
    }
}