<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ficha Artigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="artigo">
    <p> {{artigo.nome}} </p>
    <p> {{artigo.preco}} </p>
    <img [src]="'/assets/img/' + artigo.photo">
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer">

      <ion-button href="../carrinho" color="dark">
        Adicionar
        <ion-icon slot="start" name="cart"></ion-icon>
      </ion-button>

      <ion-button href="../favoritos" color="dark">
        <ion-icon slot="start" name="star"></ion-icon>
        favoritos
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>